<div class="carousel slide" id="banner" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/banner.jpg"  class="d-block w-100" alt="">
      </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <p>Noticias destacadas</p>
        <div class="col-3" *ngFor="let item of ListaNoticiasDestacadas">
            <app-noticia-card [noticias]="item">
            </app-noticia-card>
        </div>
    </div>
    <div class="row mt-5">
        <p>Otras noticias</p>
        <div class="col-3" *ngFor="let item of ListaOtrasNoticias">
            <app-noticia-card [noticias]="item">
            </app-noticia-card>
        </div>
    </div>
</div>