.azul{
    color:blue;
}

.darkred{
    color:rgb(100, 0, 0);
}

.verde{
    color:green;
}

.darkblue{
    color:rgb(0, 0, 130)
}

.morado {
    color:purple;
}

.rojo{
    color:red;
}

.gris {
    color: grey;
}

img{
    margin: 10px;
    padding: 30px;
    border: 1px solid black;
}

p{
    margin: 10px;
}

h2{
    margin:10px;
}
