.azul{
    color:blue;
}

.darkred{
    color:rgb(100, 0, 0);
}

.verde{
    color:green;
}

.darkblue{
    color:rgb(0, 0, 130)
}

.morado{
    color:purple;
}

.red{
    color:red;
}

img{
    margin-left: 10px;
    padding: 30px;
    border: 1px solid black;
}