<div class="container">
    <h2>Servicio al Cliente</h2>

    <form [formGroup]="formulario" #formDir="ngForm" novalidate>
    
        <div [hidden]="formDir.submitted">
    
            <div class="cross-validation" [class.cross-validation-error]="(formulario.touched || formulario.dirty)">
                <ul>
                    <li>
                        <label for="nombre">Nombre completo</label>
                        <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre completo" required>
                        
                        <div *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)"
                              class="alert alert-danger">
                        
                            <div *ngIf="formulario.get('nombre')?.errors?.required">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="telefono">Teléfono</label>
                        <input type="tel" formControlName="telefono" class="form-control" id="telefono" placeholder="Teléfono" required>
                        
                        <div *ngIf="formulario.get('telefono')?.invalid && (formulario.get('telefono')?.dirty || formulario.get('telefono')?.touched)"
                             class="alert alert-danger">
                        
                            <div *ngIf="formulario.get('telefono')?.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            
                            <div *ngIf="formulario.get('telefono')?.errors?.minlength">
                                Debe contener 9 dígitos.
                            </div>
                            
                            <div *ngIf="formulario.get('telefono')?.errors?.maxlength">
                                Debe contener 9 dígitos.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="email">Correo electrónico</label>
                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="example123@email.com" required>
                        
                        <div *ngIf="formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.touched)"
                              class="alert alert-danger">
                        
                            <div *ngIf="formulario.get('email')?.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            
                            <div *ngIf="formulario.get('email')?.errors?.pattern">
                                Ingrese un email válido.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="tipo">Dirigido</label>
                        <select class="form-select" (change)="changeDirigido($event)" id="tipo" formControlName="tipo" required>
                            <option disabled value="">Seleccione el motivo</option>
                            <option *ngFor="let opcion of Dirigido" [ngValue]="opcion">{{opcion}}</option>
                        </select>
                        
                        <div *ngIf="formulario.get('tipo')?.invalid && (formulario.get('tipo')?.dirty || formulario.get('tipo')?.touched)"
                              class="alert alert-danger">
                        
                            <div *ngIf="formulario.get('tipo')?.errors?.required">
                                Seleccione un campo.
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="texto">Mensaje</label>
                        <textarea class="form-control" formControlName="texto" id="texto" cols="30" rows="10" placeholder="Escriba aquí su mensaje." required></textarea>
                        
                        <div *ngIf="formulario.get('texto')?.invalid && (formulario.get('texto')?.dirty || formulario.get('texto')?.touched)"
                              class="alert alert-danger">
                        
                            <div *ngIf="formulario.get('texto')?.errors?.required">
                                Este campo es obligatorio.
                            </div>
                            
                            <div *ngIf="formulario.get('texto')?.errors?.maxlength">
                                El máximo de carácteres son 500.
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Enviar</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    
    <div class="submitted-message" *ngIf="formDir.submitted">
        <p>Gracias, nos pondremos en contacto con usted!</p>
    </div>
</div>