ul {
    list-style-type: none;
}

label {
    font-weight: bold;
}

button {
    margin-top: 10px;
}

form {
    width: 50%;
}

.submitted-message p {
    font-size: 24px;
    margin-top: 32px;
    text-align: center;
}

h2 { 
    margin-top: 10px;
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #820000;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }