.azul {
    color: blue;
}

.rojo {
    color: red;
}
.verde {
    color: green;
}

.darkred {
    color: darkred;
}

.morado {
    color: purple;
}

.darkblue {
    color: darkblue;
}

h5{
    text-align: center;
}

a:hover{
    border: 1px solid black;
}

.Entretenimiento {
    background-color: green;
    color:white;
}

.Mundo {
    background-color: blue;
    color: white;
}

.Deporte {
    background-color: darkred;
    color: white;
}

.Economia {
    background-color: purple;
    color: white;
}

.Salud {
    background-color: darkblue;
    color: white;
}

.Tecnologia {
    background-color: red;
    color: white;
}
