/* Color titulo */
.azul {
    color: blue;
}

.rojo {
    color: red;
}

.verde {
    color: green;
}

.darkred {
    color: darkred;
}

.morado {
    color: purple;
}

.darkblue {
    color: darkblue;
}

.gris {
    color: grey;
}

/* Estilo card */
h5{
    text-align: center;
}

a:hover{
    border: 1px solid black;
}

.card {
    margin-bottom: 10px;
}

/* Boton de la noticia */
.entretenimiento {
    background-color: green;
    color:white;
    border-color: green;
}

.mundo {
    background-color: blue;
    color: white;
    border-color: blue;
}

.deporte {
    background-color: darkred;
    color: white;
    border-color: darkred;
}

.economia {
    background-color: purple;
    border-color: purple;
    color: white;
}

.salud {
    background-color: darkblue;
    color: white;
    border-color: darkblue;
}

.tecnologia {
    background-color: red;
    color: white;
    border-color: red;
}

.noticias {
    background-color: grey;
    color: white;
    border-color: grey;
}